doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Furniture
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
.navitems
  .container-fluid
    .row
      .col-sm-3.innav
        a(href='/index')
          | CovidStores&trade;
      .col-sm-2.innav
        a(href='/index/fitness')
          | Fitness
      .col-sm-2.innav
        a(href='/index/electronics')
          | Electronics
      .col-sm-2.innav
        a(href='/index/machinery')
          | Machinery
      .col-sm-3.innav
        a(href='#')
          | Return Policy
.container
  .row
    #introitems.col-sm
      p
        | These are the items available in this section. You can search for anything particular below.
.container
  .row
    #search-field.col-sm
      .wrap
        .search
          input.searchTerm(type='text' placeholder='What are you looking for?')
          button.searchButton(type='submit')
            i.fa.fa-search
.container
  .row
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
  .row
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
  .row
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
    .col-sm-3.col-lg-3.imagespace
      img.img-fluid.img-thumbnail(src='../images/chair.jpg')
      h3 LLP
      p  Cooker and oven @ 4000000
.footer
  .container
    .row
      .col-sm.footnote
        p CovidStores&trade; is a registered TradeMark, unauthorised usage is prohibited!
        small &copy;CovidStores 2020